<section class="vh-100" style="background-color: #3da2c3;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <div class="card-body p-4">
                        <app-to-do-header title="Team Meeting" subtitle="checklist" date="04/01/1010" teamId="1321">
                        </app-to-do-header>
                        <app-to-do-component *ngFor="let toDo of toDos" (toDoDoneEvent)="markAsDoneToDo(toDo.id)"
                            [id]="toDo.id" [text]="toDo.text" [isDone]="toDo.done"></app-to-do-component>
                        <app-to-do-image-stack-component></app-to-do-image-stack-component>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>